In [17]:
import sqlite3
import pandas as pd

In [18]:
# direct connect to sqlite3
conn = sqlite3.connect("data/pub_raw.db")
cur = conn.cursor()
cur.execute("select * from author limit 5;")
results = cur.fetchall()
print(results)
cur.close()
conn.close()

[(1, 'Benbya, Hind', 'Hind', 'Benbya', None, 'h.benbya@montpellier-bs.com', 'Technology and Innovation Management, Montpellier Business School, 2300 Avenue des Moulins, Montpellier 34185 Cedex 4, FRANCE'), (2, 'Ning Nan', 'Ning', 'Nan', None, 'ning.nan@sauder.ubc.ca', 'Sauder School of Business, University of British Columbia, 2053 Main Mall, Vancouver V6T 1Z2 British Columbia, CANADA'), (3, 'Tanriverdi, Hüseyin', 'Hüseyin', 'Tanriverdi', None, 'Huseyin.Tanriverdi@mccombs.utexas.edu', 'McCombs School of Business, The University of Texas at Austin Austin, TX 78712 U.S.A.'), (4, 'Youngjin Yoo', 'Youngjin', 'Yoo', None, 'yxy23@case.edu', 'Department of Design & Innovation, The Weatherhead School of Management, Case Western Reserve University, 10900 Euclid Avenue, Cleveland, Ohio 44106-7235 U.S.A. | Warwick Business School, University of Warwick, Coventry CV4 7RL UNITED KINGDOM'), (5, 'Pentland, Brian T.', 'Brian', 'Pentland', 'T.', 'pentlan2@msu.edu', 'Eli Broad College of Business, Michigan State University, East Lansing, MI 48864 U.S.A.')]

In [23]:
# connect and return pandas dataframe
conn = sqlite3.connect("data/pub_raw.db")
authors = pd.read_sql_query("select * from author limit 5;", conn)
authors

,id,full_name,first_name,last_name,middle_name,email,affiliation
0,1,"Benbya, Hind",Hind,Benbya,None,h.benbya@montpellier-bs.com,"Technology and Innovation Management, Montpell..."
1,2,Ning Nan,Ning,Nan,None,ning.nan@sauder.ubc.ca,"Sauder School of Business, University of Briti..."
2,3,"Tanriverdi, Hüseyin",Hüseyin,Tanriverdi,None,Huseyin.Tanriverdi@mccombs.utexas.edu,"McCombs School of Business, The University of ..."
3,4,Youngjin Yoo,Youngjin,Yoo,None,yxy23@case.edu,"Department of Design & Innovation, The Weather..."
4,5,"Pentland, Brian T.",Brian,Pentland,T.,pentlan2@msu.edu,"Eli Broad College of Business, Michigan State ..."

In [26]:
papers = pd.read_sql_query("select * from paper limit 5;", conn)
papers

,id,title,abstract,publication_date,submission_date,online_date,revision_date,accepted_date,cover_url,full_url,accession_number,document_type,doi,manually_check,journal_id
0,1,complexity and information systems research in...,Complexity is all around us in this increasing...,None,None,None,None,None,None,None,141995164,Article,10.25300/MISQ/2020/13304,None,1
1,2,the dynamics of drift in digitized processes.,This paper uses a simulation to build new theo...,None,None,None,None,None,None,None,141995165,Article,10.25300/MISQ/2020/14458,None,1
2,3,taming complexity in search matching: two-side...,We study digital multisided platforms as compl...,None,None,None,None,None,None,None,141995166,Article,10.25300/MISQ/2020/14424,None,1
3,4,organized complexity of digital business strat...,How should firms configure organizational capa...,None,None,None,None,None,None,None,141995167,Article,10.25300/MISQ/2020/14477,None,1
4,5,digitization and phase transitions in platform...,This paper draws on complex adaptive systems (...,None,None,None,None,None,None,None,141995168,Article,10.25300/MISQ/2020/14520,None,1