In [13]:
import pandas as pd

In [14]:
grid_json = pd.read_json('../data/grid-2020-03-15/grid.json')

In [15]:
grid_json.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101943 entries, 0 to 101942
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   version     101943 non-null  object
 1   institutes  101943 non-null  object
dtypes: object(2)
memory usage: 1.6+ MB

In [16]:
%%time
# flatten the json
grid_json_flat = pd.json_normalize(grid_json['institutes'])

CPU times: user 16.2 s, sys: 303 ms, total: 16.5 s
Wall time: 17.3 s

In [17]:
grid_json_flat['addresses'][0][0]

{'line_1': '',
 'line_2': '',
 'line_3': None,
 'lat': -35.2778,
 'lng': 149.1205,
 'postcode': '',
 'primary': False,
 'city': 'Canberra',
 'state': 'Australian Capital Territory',
 'state_code': 'AU-ACT',
 'country': 'Australia',
 'country_code': 'AU',
 'geonames_city': {'id': 2172517,
  'city': 'Canberra',
  'nuts_level1': None,
  'nuts_level2': None,
  'nuts_level3': None,
  'geonames_admin1': {'name': 'ACT', 'ascii_name': 'ACT', 'code': 'AU.01'},
  'geonames_admin2': None,
  'license': {'attribution': 'Data from geonames.org under a CC-BY 3.0 license',
   'license': 'http://creativecommons.org/licenses/by/3.0/'}}}

In [18]:
grid_json_flat.head()

,name,wikipedia_url,email_address,links,aliases,acronyms,types,ip_addresses,addresses,labels,...,external_ids.HESA.all,external_ids.UCAS.preferred,external_ids.UCAS.all,external_ids.UKPRN.preferred,external_ids.UKPRN.all,redirect,external_ids.CNRS.preferred,external_ids.CNRS.all,external_ids.LinkedIn.preferred,external_ids.LinkedIn.all
0,Australian National University,http://en.wikipedia.org/wiki/Australian_Nation...,None,[http://www.anu.edu.au/],[],[ANU],[Education],[],"[{'line_1': '', 'line_2': '', 'line_3': None, ...",[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Monash University,http://en.wikipedia.org/wiki/Monash_University,None,[http://www.monash.edu/],[],[],[Education],[],"[{'line_1': '', 'line_2': '', 'line_3': None, ...",[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,University of Queensland,http://en.wikipedia.org/wiki/University_of_Que...,,[http://www.uq.edu.au/],[],[UQ],[Education],[],"[{'line_1': '', 'line_2': '', 'line_3': None, ...",[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Macquarie University,http://en.wikipedia.org/wiki/Macquarie_University,None,[http://mq.edu.au/],[],[],[Education],[],"[{'line_1': '', 'line_2': '', 'line_3': None, ...",[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,UNSW Sydney,http://en.wikipedia.org/wiki/University_of_New...,None,[https://www.unsw.edu.au/],[University of New South Wales],[UNSW],[Education],[],"[{'line_1': '', 'line_2': '', 'line_3': None, ...",[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
grid_json_flat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101943 entries, 0 to 101942
Data columns (total 36 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   name                             97795 non-null   object
 1   wikipedia_url                    93452 non-null   object
 2   email_address                    2655 non-null    object
 3   links                            97795 non-null   object
 4   aliases                          97795 non-null   object
 5   acronyms                         97795 non-null   object
 6   types                            97795 non-null   object
 7   ip_addresses                     97795 non-null   object
 8   addresses                        97795 non-null   object
 9   labels                           97795 non-null   object
 10  id                               101943 non-null  object
 11  status                           101943 non-null  object
 12  established                      80874 non-null   float64
 13  relationships                    97795 non-null   object
 14  weight                           97795 non-null   float64
 15  external_ids.ISNI.preferred      40 non-null      object
 16  external_ids.ISNI.all            44372 non-null   object
 17  external_ids.FundRef.preferred   1006 non-null    object
 18  external_ids.FundRef.all         10057 non-null   object
 19  external_ids.OrgRef.preferred    513 non-null     object
 20  external_ids.OrgRef.all          14840 non-null   object
 21  external_ids.Wikidata.preferred  465 non-null     object
 22  external_ids.Wikidata.all        36393 non-null   object
 23  external_ids.ROR.preferred       96203 non-null   object
 24  external_ids.ROR.all             96204 non-null   object
 25  external_ids.HESA.preferred      0 non-null       float64
 26  external_ids.HESA.all            171 non-null     object
 27  external_ids.UCAS.preferred      0 non-null       float64
 28  external_ids.UCAS.all            153 non-null     object
 29  external_ids.UKPRN.preferred     0 non-null       float64
 30  external_ids.UKPRN.all           173 non-null     object
 31  redirect                         3818 non-null    object
 32  external_ids.CNRS.preferred      0 non-null       float64
 33  external_ids.CNRS.all            825 non-null     object
 34  external_ids.LinkedIn.preferred  0 non-null       float64
 35  external_ids.LinkedIn.all        7 non-null       object
dtypes: float64(7), object(29)
memory usage: 28.0+ MB

In [20]:
grid_json_flat = grid_json_flat[['name', 'wikipedia_url', 'email_address', 'links', 'aliases', 'acronyms', 'addresses']]
grid_json_flat.dropna(subset=['name', 'addresses'], inplace=True)
grid_json_flat.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97795 entries, 0 to 101942
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           97795 non-null  object
 1   wikipedia_url  93452 non-null  object
 2   email_address  2655 non-null   object
 3   links          97795 non-null  object
 4   aliases        97795 non-null  object
 5   acronyms       97795 non-null  object
 6   addresses      97795 non-null  object
dtypes: object(7)
memory usage: 6.0+ MB

In [21]:
# we dropped some rows above and can reset the index as follows
#grid_json_flat.reset_index(drop=True, inplace=True)

In [22]:
%%time
current_aff = {}
all_aff = [] 
# aliases and acronyms are quite noisy, so they are not used

for index, row in grid_json_flat.iterrows(): # loop over the df
    current_aff = {
        'name': row['name'],
        'wikipedia_url': row['wikipedia_url'],
        #'email_address': row['email_address'],
        'links': row['links'],
        'city': row['addresses'][0]['city'],
        'state': row['addresses'][0]['state'],
        'country': row['addresses'][0]['country'],
        }
    all_aff.append(current_aff)

CPU times: user 18.1 s, sys: 137 ms, total: 18.2 s
Wall time: 18.7 s

In [23]:
# convert the resulting dict to pandas dataframe
import pandas as pd

aff_parsed = pd.DataFrame(all_aff)
aff_parsed.info()# convert the resulting dict to pandas dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97795 entries, 0 to 97794
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           97795 non-null  object
 1   wikipedia_url  93452 non-null  object
 2   links          97795 non-null  object
 3   city           97795 non-null  object
 4   state          36035 non-null  object
 5   country        97795 non-null  object
dtypes: object(6)
memory usage: 4.5+ MB

In [24]:
aff_parsed.to_csv('../data/grid-parsed.csv', index=False)